body {
    margin: 60px auto;
    width: 70%;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    background-color: #222222;
    color: #ffffff;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h1 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1em;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.4em;
    color: #eeeeee;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.2em;
}
 
ul.posts li {
    list-style: none;
}

span.date {
  font-size: 0.8em;
  color: #555555;
}

.home {
  font-size: 1.2em;
  text-align: justify;
  text-justify: inter-word;
}

.about {
  font-size: 1.2em;
  text-align: justify;
  text-justify: inter-word;
}

code {
  font-size: 1.1em;
}
