---
layout: default
---
<h1>{{ page.title }}</h1>
<p class="meta"><h2>{{ page.date | date_to_string }}</h2></p>

<div class="post">
  {{ content }}
</div>

<footer>
{% if page.comments %}
<div id="disqus_thread"></div>
<script>

var disqus_config = function () {
this.page.url = post.url;
this.page.identifier = post.title;
};

(function() {
var d = document, s = d.createElement('script');
s.src = 'https://codywill-github-io.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}

</footer>